@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --text-color: #020204;
  --primary-color: #7552f2;
  --secondary-color: #9f87f0;
  --accent-color: #f2e252;
  --border-color: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: #f2f2f2;
}

/* Estilos del header */
header {
  top: 0;
  left: 0;
  z-index: 5;
  color: #fff;
  width: 100%;
  display: flex;
  position: fixed;
  padding: 10px 150px;
  align-items: center;
  background-color: #3d2f65;
  justify-content: space-between;
}

.logo {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 70px;
    max-width: 100%;
  }
}

nav {
  ul {
    gap: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;

    li a {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
/* Sección principal */

.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 65%;

  .content {
    z-index: 3;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .text {
      color: #fff;
      font-size: 20px;
      text-align: center;
      margin-bottom: 50px;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
  }

  &::before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
  }
}

.content a {
  color: #000;
  display: block;
  margin: 0 10px;
  font-size: 18px;
  background: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.4s ease;
  text-decoration: none;
  border: 2px solid #fff;
  text-transform: uppercase;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

  &:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
  }
}

section {
  display: flex;
  min-height: 100vh;
  padding-top: 120px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#videoB {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

section h2 {
  font-size: 2rem;
}

section > p {
  text-align: center;
}

.videosec {
  width: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videocard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.videodos {
  width: 100%;
  border-radius: 10px;
}

.slide {
  padding-bottom: 30px;
  color: antiquewhite;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#objetivos {
  justify-content: flex-start;
  background-color: var(--primary-color);
}

.speech {
  color: antiquewhite;
  background-color: var(--primary-color);
}
/* Equipo */

/* Footer */

footer {
  width: 100%;
  padding: 15px 0;
  background-color: var(--primary-color);
}

/* Base de datos html */

.tablas {
  color: white;
  padding-top: 120px;
  justify-content: flex-start;
  background-color: var(--primary-color);

  h2 {
    margin-bottom: 6rem;
  }

  .img-mer {
    user-select: none;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.4));
  }
}

.diccionario {
  display: flex;
  padding: 30px 0 60px;
  align-items: center;
  flex-direction: column;
}

#equipo {
  width: 90%;
  margin: auto;
  justify-content: flex-start;
}

.equipo-card {
  width: 30rem;
}

.presentation {
  width: 50rem;
  margin: auto;
  position: relative;
  justify-content: flex-start;

  .presentation-title {
    margin-block: 4rem;
  }
  .presentation-content {
    .presentation-text {
      text-align: left;
    }
  }

  .translate {
    right: 0;
    top: 8rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    background: transparent;
    transition: color 0.3s ease;

    &:hover {
      color: var(--primary-color);
    }
  }
}
